extends layout

block content
  h1= title
  h2 Welcome to #{title}

  h3 Rob's playground for Public web experiments

  a(href='rps' target='_blank')
    button.b200
      img(src='images/fingers-149295.svg')
