extends layout

block content
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src='/javascripts/client.js')
  h1= title
  h2 Welcome to Rock, Paper, etc.

  a(href='rps' target='_blank')
    p Add another Player

  h3 Player Name:
    input#player(type='text')
    p#record

  p#waiting(type='text')
  
  button.b150(onclick="userThrows('Rock')")
    img.i100(src='images/rock-paper-scissors-296854.svg')

  button.b150(onclick="userThrows('Paper')")
    img.i100(src='images/rock-paper-scissors-296855.svg')

  button.b150(onclick="userThrows('Scissors')")
    img.i100(src='images/rock-paper-scissors-296853.svg')

  button.b150(onclick="userThrows('Lizard')")
    img.i100(src='images/lizard-310186.svg')

  button.b150(onclick="userThrows('Spock')")
    img.i100(src='images/spock-2029783.svg')

  p#choice(type='text')  
  p#outcome(type='text')