body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.b200 {
  width: 200px;
  height: 200px;
}

.b150 {
  margin:20px;
  width: 150px;
  height: 150px;
}

.i100 {
  height:100%;
}